<div class="mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet mdl-cell--8-col">
  
  <h2>Voter Data</h2>

  <div class="mdl-layout-spacer"></div>

  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Age</th>
        <th class="mdl-data-table__cell--non-numeric">Location</th>
        <th>Last Contact</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>

    <% @voters.each do |voter| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= voter.name %></td>
        <td><%= voter.age %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= voter.location %></td>
        <td><%= voter.date_last_contacted %></td>
        <td><%= voter.phone_number %></td>   
      </tr>
    <% end %>

    </tbody>
  </table>

</div>